<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />    
 	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 

</head>
<body>
	<!-- Contendedor de la tabla -->
	<div style="margin-left: 10%; width: 80%;">
	<h2>Lista de buses</h2>
	 <br>
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">CODIGO</th>
			      <th scope="col">MATRICULA</th>
			      <th scope="col">MODELO</th>	
			      <th scope="col">CAPACIDAD</th>	
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="c : ${lstBuses}">
			      <td th:text="${c.id}"></td>
			      <td th:text="${c.mat}"></td>
			      <td th:text="${c.mod}"></td>
			      <td th:text="${c.cap}"></td>		    
			      <td>
			           	<form method="POST" th:action="@{/editar}">
      						<input type="hidden" name="id" th:value="${c.id}">
      						<button type="submit" class="btn btn-info">Editar</button>
     					</form>
			      </td>
			    </tr>
			  </tbody>
			</table>
	</div>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
















